<!--<div class="panel-full login-bg">-->
<div>

</div>
<nav class="navbar navbar-default" ng-controller="commCtrl">
    <div class="container container-fluid text-left" style="margin: 0;">
        <div class="pull-right text-center pd-top-15">
            <div class="glyphicon glyphicon-user"></div>
            admin
        </div>
        <ul class="nav nav-tabs">
            <li role="presentation" ng-class="{true:'active'}[custPath==item.url]" ng-repeat="item in menu"><a ng-href="{{item.url}}">{{item.txt}}</a></li>

        </ul>

    </div>
</nav>
<div>
    <ng-transclude></ng-transclude>
</div>
<!--</div>-->