<!--<div class="panel-full login-bg">-->
    <div class="panel panel-default login-box">
        <div class="panel-heading">
            <h3 class="panel-title">
                登录
            </h3>
        </div>
        <form class="panel-body" name="_login_form">
            <div class="form-group" ng-class="{true:'has-warning'}[uname==null]">
                <label for="exampleInputEmail1">用户名</label>
                <input ng-required="true" type="text" class="form-control" id="exampleInputEmail1" ng-model="uname"
                       placeholder="请输入用户名">
            </div>
            <div class="form-group" ng-class="{true:'has-warning'}[pwd==null]">
                <label for="exampleInputPassword1">密码</label>
                <input ng-required="true" type="password" class="form-control" id="exampleInputPassword1" ng-model="pwd"
                       placeholder="请输入密码">
            </div>
            <button type="submit" class="btn btn-success  btn-block" ng-click="sign(_login_form.$valid)"> 登&nbsp;录</button>
        </form>
    </div>

<div class="alert alert-danger" role="alert" ng-hide="msgHide">
    <!-- close实现警示框关闭按钮的样式 -->
    <!-- data-dismiss="alert"要确保关闭按钮元素上设置了自定义属性 -->
    <button class="close" type="button" data-dismiss="alert">&times;</button>
    用户名密码错误！
    <!-- a标签 警示框的链接 -->
    <a href="#" class="alert-link">this important alert message</a>
</div>
<!--</div>-->