* {
  margin: 0px;
  padding: 0px;
  font-family: Arial;
  letter-spacing: 1px;
  box-sizing: border-box;
}
html,
body {
  background-color: #fff;
}
.hide {
  display: none;
}
.login-box {
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -150px 0 0 -150px;
}
.login-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.dailog-box-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(180,180,180,0.77);
  z-index: 999;
}
.hide {
  display: none;
}
.f-l {
  float: left;
}
.f-r {
  float: right;
}
.pd-top-15 {
  padding-top: 15px;
}
.stage-index .st-idx-warp {
  position: absolute;
  border: solid 1px #adadad;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 30px;
  background-color: rgba(15,15,15,0.015);
  -webkit-box-shadow: 0 0 5px #c0c0c0;
  -moz-box-shadow: 0 0 5px #c0c0c0;
  box-shadow: 0 0 5px #c0c0c0;
  padding: 6% 6%;
}
.stage-index .st-idx-item {
  width: 230px;
  height: 100px;
  border: solid 1px #808080;
  text-align: center;
  padding: 20px 0;
  background-color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
