opacity(v)
  -webkit-opacity v
  -moz-opacity  v
  -o-opacity v
  opacity v

range(a,b,c,d)
  top a px
  right b px
  bottom c px
  left d px
*
  margin 0px
  padding 0px
  font-family Arial //"Microsoft YaHei UI"
  letter-spacing 1px
  box-sizing border-box
html,body
  background-color #FFFFFF
display(e)
  if e=="box"
    display box
    display:-moz-box;
    display:-webkit-box;
  else
    display e

vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  {prop} args

border-radius()
  vendor('border-radius', arguments)

box-shadow()
  vendor('box-shadow', arguments)

transform()
  vendor('transform', arguments)

transition()
  vendor('transition', arguments)

.hide
  display none
.login-box
  width: 300px
  position absolute
  top 50%
  left 50%
  margin -150px  0 0 -150px
.login-bg
  position absolute
  top 0
  left 0
  right 0
  bottom 0
.dailog-box-bg
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  background-color rgba(180, 180, 180, 0.77);
  //background-color #b4b4b4
  //opacity 0.5
  z-index 999
.hide
  display none
.f-l
  float left
.f-r
  float right
.pd-top-15
  padding-top:15px;


.stage-index
  .st-idx-warp
    position absolute
    border solid 1px #adadad
    border-radius 5px
    range 30 30 30 30
    background-color rgba(15, 15, 15, 0.015)
    box-shadow 0 0 5px #c0c0c0
    padding 6% 6%
  .st-idx-item
    width: 230px
    height 100px
    border:solid 1px grey;
    text-align center
    padding 20px 0
    background-color #ffffff
    border-radius 5px