opacity(v)
  -webkit-opacity v
  -moz-opacity  v
  -o-opacity v
  opacity v

.login-box
  width: 300px
  position absolute
  top 50%
  left 50%
  margin -150px  0 0 -150px
.login-bg
  position absolute
  top 0
  left 0
  right 0
  bottom 0
.dailog-box-bg
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  background-color rgba(180, 180, 180, 0.77);
  //background-color #b4b4b4
  //opacity 0.5
  z-index 999
.hide
  display none
.f-l
  float left
.f-r
  float right
.pd-top-15
  padding-top:15px;
