opacity(v)
  -webkit-opacity v
  -moz-opacity  v
  -o-opacity v
  opacity v
size(a,b)
  width a
  height b

range(a,b,c,d)
  top a px
  right b px
  bottom c px
  left d px
*
  margin 0px
  padding 0px
  font-family Arial //"Microsoft YaHei UI"
  letter-spacing 1px
  box-sizing border-box
html,body
  background-color #FFFFFF
display(e)
  if e=="box"
    display box
    display:-moz-box;
    display:-webkit-box;
  else
    display e

vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  {prop} args

border-radius()
  vendor('border-radius', arguments)

box-shadow()
  vendor('box-shadow', arguments)

transform()
  vendor('transform', arguments)

transition()
  vendor('transition', arguments)

.hide
  display none
.login-box
  width: 300px
  position absolute
  top 50%
  left 50%
  margin -150px  0 0 -150px
.login-bg
  position absolute
  top 0
  left 0
  right 0
  bottom 0
.dailog-box-bg
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  background-color rgba(180, 180, 180, 0.77);
  //background-color #b4b4b4
  //opacity 0.5
  z-index 999
.hide
  display none
.f-l
  float left
.f-r
  float right
.pd-top-15
  padding-top:15px;


.stage-index
  .st-idx-warp
    position absolute
    border solid 1px #adadad
    border-radius 5px
    range 30 30 30 30
    background-color rgba(15, 15, 15, 0.015)
    box-shadow 0 0 5px #c0c0c0
    padding 6% 6%
  .st-idx-item
    width: 230px
    height 100px
    border:solid 1px grey;
    text-align center
    padding 20px 0
    background-color #ffffff
    border-radius 5px

.pager
  width: 100%
  line-height 26px
  >div
    display inline-block
    border solid 1px #f0f0f0
    padding 3px 7px
    margin-right 50px
    float right
    box-shadow 0 0 5px rgba(240, 240, 240,1)
    color #877b95
    h-h 26px
    >span
      width 34px
      text-align center
      display inline-block
      cursor pointer
      margin:0 1px
      &:hover
        background-color #35c7e5
    a
      color #877b95
      text-decoration none
      display block
  .custpage
    background-color #35c7e5
  .checkbox
    width 17px
    height 17px
  .bt-opt
    padding:0 15px 0 45px

.icons
  size 15px 15px
  display inline-block
  &.edit
    background url(../img/icon_s.png) no-repeat
    background-size: 520px;
    background-position: -292px -13px;
    margin: 0px 3px 0 0;
  &.dele
    background: url(../img/icon_s.png) no-repeat;
    background-size: 520px;
    background-position: -317px -13px;
    margin: 0px 3px 0 0;
  &.preview
    background: url(../img/icon_s.png) no-repeat;
    background-size: 520px;
    background-position: -261px -13px;
    margin: 0px 3px 0 0;
  &.change-head
    background url(../img/pic_icon_upimg.png) no-repeat
    background-size 100% auto
    background-position-y: 2px;
  &.cust-success
    background url(../img/icons/success.png) no-repeat
    background-size 100% auto
    size 23px 23px
  &.cust-error
    background url(../img/icons/error.png) no-repeat
    background-size 100% auto
    size 23px 23px
  &.pager-prev
    background url(../img/icons/pager-pre.png) no-repeat
    background-size 100% auto
    size 23px 25.56px
    background-position: 1px 2px;
  &.pager-next
    background url(../img/icons/pager-next.png) no-repeat
    background-size 100% auto
    size 23px 25.56px
    background-position: -1px 2px
  &.question
    background url(../img/icons/question.png) no-repeat
    background-size 100% auto
    size 19px 19px
    background-position: 0px 2px
  &.shop-car
    background url(../img/icons/icon_shopcar.png) no-repeat
    background-size 100% auto
    size 19px 19px
  &.buyer
    size 23px 23px
    display inline-block
    vertical-align: middle;
    background url(../img/home/icon_buyer.png) no-repeat
    background-size 36px 14px
    &.company-name
      background-position 0 0
    &.address
      background-position -18px 0
    &.phone
      background url(../img/icons/icon_purch.png) no-repeat
      background-size 90px 22px
      background-position -21px 0
    &.name
      background url(../img/icons/icon_purch.png) no-repeat
      background-size 90px 22px
      background-position 0px 0
    &.clock
      background url(../img/icons/icon_purch.png) no-repeat
      background-size 90px 22px
      background-position -65px 0
    &.mail
      background url(../img/icons/icon_purch.png) no-repeat
      background-size 90px 22px
      background-position -44px 0

.float
  float:left;
  &.right
    float: right