
<ol class="breadcrumb">
    <li><a href="#">客户登记</a></li>
    <li><a href="#!/stage/add">个人信息</a></li>
    <li><a href="#!/stage/add/2">配偶</a></li>
    <li><a href="#!/stage/add/3">公司信息</a></li>
    <li><a href="#!/stage/add/4">其他公司信息</a></li>
</ol>
<comm-view ng-controller="addcustomer">
    <div class="panel">
        <div class="panel-heading">
            其他公司信息
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>公司名称</th>
                    <th>所在地区</th>
                    <th>法人代表</th>
                    <th>成立日期</th>
                    <th>主营产品</th>
                    <th>年销售额</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in list">
                    <th scope="row">{{list.indexOf(item)+1}}</th>
                    <td><input ng-model="model.othcp[list.indexOf(item)].name"></td>
                    <td><input ng-model="model.othcp[list.indexOf(item)].addr"></td>
                    <td><input ng-model="model.othcp[list.indexOf(item)].user"></td>
                    <td><input ng-model="model.othcp[list.indexOf(item)].ctime"></td>
                    <td><input ng-model="model.othcp[list.indexOf(item)].pro"></td>
                    <td><input ng-model="model.othcp[list.indexOf(item)].cpyearamt"></td>
                </tr>
                </tbody>
            </table>
            <div>
                <input type="button" class="btn btn-success" ng-click="add(list.length)" value="添加">
                <button type="button" class="btn btn-success" ng-click="next()"> 下一步</button>
            </div>
        </div>
    </div>

</comm-view>