
<comm-view ng-controller="addcustomer">

    <ol class="breadcrumb">
        <li><a href="#!/stage/add/4">其他公司信息</a></li>
        <li><a href="#!/stage/add/5">不动产信息</a></li>
        <li><a href="#!/stage/add/6">其他贷款信息</a></li>
        <li><a href="#!/stage/add/7">车辆信息</a></li>
    </ol>
    <div class="panel">
        <div class="panel-heading">
            车辆信息
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>权属人</th>
                    <th>牌照</th>
                    <th>裸车价</th>
                    <th>购车日期</th>
                    <th>按揭/全款</th>
                    <th>贷款金额</th>
                    <th>已供月数</th>
                    <th>月供金额</th>
                    <th>贷款余额</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in list">
                    <th scope="row">{{list.indexOf(item)+1}}</th>
                    <td><input ng-model="model.car[list.indexOf(item)].name"></td>
                    <td><input ng-model="model.car[list.indexOf(item)].no"></td>
                    <td><input ng-model="model.car[list.indexOf(item)].total"></td>
                    <td><input ng-model="model.car[list.indexOf(item)].buytime"></td>
                    <td><input ng-model="model.car[list.indexOf(item)].buytype"></td>
                    <td><input ng-model="model.car[list.indexOf(item)].loan"></td>
                    <td><input ng-model="model.car[list.indexOf(item)].loanmonth"></td>
                    <td><input ng-model="model.car[list.indexOf(item)].loanmonthpirce"></td>
                    <td><input ng-model="model.car[list.indexOf(item)].loanbalance"></td>
                </tr>
                </tbody>
            </table>
            <div>
                <input type="button" class="btn btn-success" ng-click="add(list.length)" value="添加">
                <button type="button" class="btn btn-success" ng-click="next()"> 下一步</button>
            </div>
        </div>
    </div>

</comm-view>