

<comm-view ng-controller="addcustomer">
    <ol class="breadcrumb">
        <li><a href="#!/stage/add/3">公司信息</a></li>
        <li><a href="#!/stage/add/4">其他公司信息</a></li>
        <li><a href="#!/stage/add/5">不动产信息</a></li>
        <li><a href="#!/stage/add/6">其他贷款信息</a></li>
    </ol>
    <div class="panel">
        <div class="panel-heading">
            其他贷款信息
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>贷款主体</th>
                    <th>贷款机构</th>
                    <th>贷款种类</th>
                    <th>贷款金额</th>
                    <th>贷款期限</th>
                    <th>已贷时间</th>
                    <th>贷款余额</th>
                    <th>备注</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in list">
                    <th scope="row">{{list.indexOf(item)+1}}</th>
                    <td><input ng-model="model.loan[list.indexOf(item)].name"></td>
                    <td><input ng-model="model.loan[list.indexOf(item)].way"></td>
                    <td><input ng-model="model.loan[list.indexOf(item)].type"></td>
                    <td><input ng-model="model.loan[list.indexOf(item)].total"></td>
                    <td><input ng-model="model.loan[list.indexOf(item)].term"></td>
                    <td><input ng-model="model.loan[list.indexOf(item)].time"></td>
                    <td><input ng-model="model.loan[list.indexOf(item)].balance"></td>
                    <td><input ng-model="model.loan[list.indexOf(item)].remark"></td>
                </tr>
                </tbody>
            </table>
            <div>
                <input type="button" class="btn btn-success" ng-click="add(list.length)" value="添加">
                <button type="button" class="btn btn-success" ng-click="next()"> 下一步</button>
            </div>
        </div>
    </div>

</comm-view>